body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: #0d1117;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
}

#heading {
    text-align: center;
    justify-content: center;
    align-content: center;
}

#short-desc {
    color: rgb(0, 191, 255);
    text-align: center;
    white-space: nowrap;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1.5rem;
}

.links img {
    width: 32px;
    height: 32px;

    cursor: pointer;
    opacity: 0.8;

    transition: opacity 0.2s ease;
}

.links img:hover {
    opacity: 1;
}

#long-desc {
    display: inline-flexbox;
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.about section h2 {
    color: rgb(0, 119, 255);
    margin-top: 10%;
    font-family: monospace;
    font-style: italic;
    font-weight: lighter;
}

.project-grid {
    display: grid;
}
.card h3{
    color: rgb(0, 191, 255);
    font-weight: 500;
    margin-left: 5px;
}
.card a{
    margin-left: 10px;
}
.card {
    margin-top: 10px;
    background: #181a1d;
    border: rgb(0, 191, 255) solid 3px;
    border-radius: 20px;
    max-width: 500px;
    transition: border 0.35s;
}
.card:hover{
    border: rgb(0, 119, 255) solid 3px;
}

#contact {
    b {
        color: rgb(0, 119, 255);
    }
}

a {
    color: rgb(0, 119, 255);
    text-decoration: none;
    transition: color 0.2s;
}
a:hover {
    color: rgb(0, 38, 255);
}

#meflamey {
    color: rgb(0, 68, 255);
}

button {
    background: #0d1117;
    border: white solid 2px;
    border-radius: 10px;
    color: white;
    transition: transform 0.1s;
}
button:hover {
    transform: scale(1.2);
}