@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family:"Poppins", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: white;
    background-color: #0d1117;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
    background-size: 40px 40px;
}

i {
    color:rgb(0, 119, 255)
}

#heading {
    text-align: center;
    justify-content: center;
    align-content: center;
}

#short-desc {
    color: rgb(0, 191, 255);
    text-align: center;
    white-space: nowrap;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin-top: 1.5rem;
}

.links i {
    width: 1em;
    height: 1em;

    font-size: 1.5em;

    color: white;

    cursor: pointer;
    opacity: 1;
}

.art {
    display: flex;
    justify-content: center;
    align-items: center;
}

.art img {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 350px;
    height: auto;
}

#long-desc {
    display: inline-flexbox;
    margin-top: 2rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.about section h2 {
    color: rgb(0, 119, 255);
    margin-top: 25px;
    font-family: monospace;
    font-style: normal;
    font-weight: lighter;
}

.project-grid {
    display: grid;
}
.card h3{
    color: rgb(0, 191, 255);
    font-weight: 500;
    margin-left: 5px;
}
.card a{
    margin-left: 10px;
}

.card .langs i {
    font-size: 1.5em;
}
.card {
    margin-top: 10px;
    background: #181a1d;
    border: rgb(0, 191, 255) solid 3px;
    border-radius: 20px;
    max-width: 500px;
    transition: border 0.35s;
}
.card:hover{
    border: rgb(0, 119, 255) solid 3px;
}

#contact {
    b {
        color: rgb(0, 119, 255);
    };

    span {
        color: #5865F2
    };

    #copyBtn {
        size: 1em;
        transform: size;
        color: white
    };
    #copyBtn:hover {
        size: 1.2em;
    }
}

a {
    color: rgb(0, 119, 255);
    text-decoration: none;
    transition: color 0.2s;
}
a:hover {
    color: rgb(0, 38, 255);
}

#meflamey {
    color: rgb(0, 68, 255);
}